<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pregbe">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pregbe">
        <activity
            android:name=".Update_lich_Activity"
            android:exported="true" />
        <activity
            android:name=".ThongTinBeActivity"
            android:exported="true" />
        <activity
            android:name=".ThongTinMeActivity"
            android:exported="true" />
        <activity
            android:name=".BaiVietDaLuuActivity"
            android:exported="true" />
        <activity
            android:name=".BaiVietDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".TuanThai"
            android:exported="true" />
        <activity
            android:name=".GioiThieu.DangNhap"
            android:exported="false" />
        <activity
            android:name=".BaiViet2"
            android:exported="false" />
        <activity
            android:name=".GioiThieu.DangKy"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".DangKyThanhCongActivity2"
            android:exported="true" />
        <activity
            android:name=".GioiThieu.ChaoMung1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GioiThieu.ChaoMung2"
            android:exported="true" />
        <activity
            android:name=".Music.ChonNhacActivity"
            android:exported="true" />
        <activity
            android:name=".Music.TestActivity"
            android:exported="true" />
    </application>

</manifest>